#page-contents {
  padding-top: 100px !important;
  min-height: 100vh;
  background: #fff;
}

.notification {
  margin: 15px 0;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
}


.notification.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}


.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

