.badge-notification {
  position: absolute;
  top: 7px;
  right: 2px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  border: 1px solid white;
}


.fa-users {
  font-size: 18px;
}
